	<fieldset class="contact">
	<legend>Niveau de formation</legend>
		<table>
					<tr>
						<td>Niveau de formation :</td><td>{{ form_widget(formFormation.niveauFormation) }}</td>
						<td>Diplome :</td><td>{{ form_widget(formFormation.intituleFormation) }}</td>
					</tr>
				
							
		</table>
	</fieldset>
