<section class="formulaire_presta" >

	<fieldset class="contact">
	<legend>Situation Professionnelle</legend>
		<table>
					<tr>
						<td>Statut :</td><td>{{ form_widget(formContactParcoursPro.statut) }}</td>
						<td>Identifiant :</td><td>{{ form_widget(formContactParcoursPro.identifiant) }}</td>
					</tr>
		</table>
	</fieldset>

</section>