<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Document sans nom</title>
<link href="../../../public/css/global.css" rel="stylesheet" type="text/css" />

</head>

<body>
 <div class="header"><img src="./images/logo_apsie_bp_petit.png"  /> <font color='orange'>APSIE</font> Business plan</div> <div  class="menu_header"><ul>
 <li><a href="#">Fichier</a></li>
 <li><a href="#">Edition</a></li>
 <li><a href="#">Affichage</a></li>
  <li><a href="#">?</a></li>
</ul>
</div>



<div id="test" style="width:350px; height:110px; margin-bottom:5px;"><img src="../../../public/images/Sans titre.JPG"/></div>

<!--corps-->
<div id="contenu_redac"><div id="menu_d"></div></div>

<!--fin_corps-->

 <div  class="footer">Bas de page...</div>

</body>
</html>
