<div id="listePesta" class="entete" >Historique des versions</div>
<section style="margin : 10px;" >
	<h2>Presta v3.1.2</h2>
	<h4>Mise à jours le 04/02/2013</h4>
	<article>
		<ul>
		        <li>- Possibilité de créer une prestation sans confirmer d'option</li>
                        
			
		</ul>
		
	</article>
</section>
<section style="margin : 10px;" >
	<h2>Presta v3.1.1.1</h2>
	<h4>Mise à jours le 26/01/2013</h4>
	<article>
		<ul>
		        <li>- Plus de doublon sur la référence en entête</li>
                        <li>- Plus de doublon pour l'aperçu avant impression sur le nom, prénom, identifiant, le n° lettre de commande</li>
			
		</ul>
		
	</article>
</section>
<section style="margin : 10px;" >
	<h2>Presta v3.1.1</h2>
	<h4>Mise à jours le 25/01/2013</h4>
	<article>
		<ul>
			<li>- Liste des rendez vous : Activer le tri</li>
			<li>- Enregistrement des email pro et perso ok</li>
                        <li>- Numéro pôle emploi remplacé par 3949</li>
                        <li>- Plus de doublon pour l'aperçu avant impression sur le nom, prénom, identifiant, le n° lettre de commande</li>
			
		</ul>
		
	</article>
</section>
<section style="margin : 10px;" >
	<h2>Presta v3.1</h2>
	<h4>Mise à jours le 19/01/2013</h4>
	<article>
		<ul>
			<li>- Prestation OPCRE fonctionnelle</li>
			<li>- Prestation EPCE fonctionnelle</li>
			<li>- Prestation NACRE1 fonctionnelle</li>
			<li>- Module texte : Suppression du rechargement lors de la création de nouveaux textes, afin de rentrer ceux ci plus facilement.</li>
			<li>- Débug sur le trie des dates</li>
			<li>- Toutes les dates sur les livrables sont au format ddmmyy</li>
		</ul>
		
	</article>
</section>