<div id="listePesta" class="entete" >- Liste des types de prestations</div>
<div class="bloc_listePresta" >
<table style="margin-top : 5px;" class="tableau_presta" >
	<thead>
		<tr>
			<th>Libellé</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
{% for key,typeprestation in typeprestations %}

{% if(key%2 == 1)%}
{% set classe = 'paire' %}
{% else %}
{% set classe = 'impaire' %}
{% endif %}
 
		<tr class="{{ classe }}" >
			<td>{{ typeprestation.libelle}}</td>
			<td><a href="./typeprestation/edit/{{ typeprestation.id }}" rel="#overlay"><img  style="cursor:pointer" src="{{ asset('bundles/lea/images/divers/edit.png') }}" /></a></td>
		</tr>

	    
	 </li>
{% endfor %}
	</tbody>
</table>
</div>
<!-- overlayed element -->
<div class="apple_overlay" id="overlay">
  <!-- the external content is loaded inside this tag -->
  <div class="contentWrap"></div>
</div>
<script>
$("table.tableau_presta").tablesorter({  widgets: ['zebra'] });  
$('a[rel]').loadOverlay(".contentWrap");
</script>